[telegram]
BOT_TOKEN = 
API_ID = 
API_HASH = 



[bot]
ADMINS = 
LOG_MODE = 
NEXT_LOGIN_LOWER_THRESHOLD = 600
NEXT_LOGIN_UPPER_THRESHOLD = 18000


[paths]
SESSIONS_PATH = ./sessions/
LOG_PATH = ./logs.log



[database]
MYSQL_HOST = localhost
MYSQL_PORT = 3306
MYSQL_USER = 
MYSQL_PASSWORD = 
MYSQL_DATABASE = py_onliner
